.imageContainer {
  height: 20px;
  width: 30px;
  margin-top: -5px;
  float: left;
}

.dropdown button:hover {
  background-color: #fb696a !important;
}

.dropdown button {
  padding: 8px;
  background-color: rgb(55, 63, 80) !important;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdown.bottom button {
  background-color: #2b3445 !important;
}

.dropdownMenu {
  z-index: 2000;
}

@media (max-width: 768px) {
  .dropdown button {
    font-size: 14px;
    padding: 8px;
    padding-right: 30px;
  }
  .dropdownToggle {
    font-size: 10px !important;
    padding: 10px;
    padding-right: 30px;
  }
}
