html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.electronicsBrandsCarousel .tns-outer button {
  display: none;
}

.navbar-sticky {
  background-color: white;
  width: 100%;
  z-index: 1000;
  position: relative;
}

#blog-grid-controls button {
  left: 20px;
  top: 45%;
  height: 50px;
  width: 50px;
  background-color: white;
  z-index: 100;
  position: relative;
  padding: 20 px;
  display: flex;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

div#blog-grid-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 96.5%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 40%;
}

/* FB696A */
#blog-grid-controls button:hover {
  background-color: #fb696a;
  color: white;
}

.footer .widget {
  border-bottom: none;
}
/* search input */
.ais-SearchBox.input-group.d-none.d-lg-flex.mx-4 form {
  display: flex;
  width: 100%;
}

button.ais-SearchBox-submit {
  border: none;
  background-color: transparent;
  margin-left: -60px;
}
button.ais-SearchBox-submit svg {
  height: 20px;
  width: 20px;
  fill: gray;
}
button.ais-SearchBox-submit:hover svg,
button.ais-SearchBox-reset:hover svg {
  fill: #fb696a;
}

button.ais-SearchBox-reset svg {
  height: 15px;
  width: 15px;
  fill: #ffb4b5;
}
button.ais-SearchBox-reset {
  background-color: transparent;
  border: none;
}

.ais-SearchBox-loadingIndicator {
  margin-top: 10px;
}

em.ais-Highlight-highlighted {
  color: #fb696a;
}

.results ul.ais-Hits-list {
  list-style: none;
  padding: 0px;
  padding-top: 10px;
  display: grid;
  margin: 0px;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
li.ais-Hits-item {
  margin-bottom: 10px;
  padding: 10px;
}
li.ais-Hits-item a {
  display: flex;
  flex-direction: column;
}

ul.ais-Hits-list li.ais-Hits-item:hover {
  background-color: #f6f6f6;
}

li.ais-Hits-item:last-child .hit {
  border-bottom: none !important;
}

li.ais-Hits-item:hover a h6 {
  color: #fb696a !important;
}

.ShopBannerToolbar li.ais-Pagination-item.ais-Pagination-item--nextPage,
.ShopBannerToolbar li.ais-Pagination-item.ais-Pagination-item--previousPage,
.ShopBannerToolbar
  li.ais-Pagination-item.ais-Pagination-item--selected.ais-Pagination-item--page,
.ShopBannerToolbar li.ais-Pagination-item.ais-Pagination-item--firstPage,
.ShopBannerToolbar li.ais-Pagination-item.ais-Pagination-item--lastPage {
  margin: 0px 10px;
}
.ShopBannerToolbar ul.ais-Pagination-list,
.ShopBannerToolbar
  li.ais-Pagination-item.ais-Pagination-item--selected.ais-Pagination-item--page {
  display: flex;
  margin: 0px 10px;
  color: red;
}

.ShopBannerToolbar ul.ais-Pagination-list,
.ShopBannerToolbar ul.ais-Pagination-list .ais-Pagination-list--noRefinement {
  display: flex !important;
  list-style: none !important;
}

.ShopBannerToolbar .ais-Pagination-item--disabled {
  color: gray !important;
}

.ShopBannerToolbar li.ais-Pagination-item.ais-Pagination-item--page {
  margin: 0px 10px;
}

.ShopBannerToolbar
  li.ais-Pagination-item.ais-Pagination-item--selected.ais-Pagination-item--page {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  padding: 12px;
  background-color: white;
}

.bottomPagination ul {
  display: flex;
  padding: 0px;
}

.bottomPagination ul li {
  height: 30px;
  width: 30px;
  background-color: #fb696a;
  margin: 0px 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  -webkit-box-shadow: 0 0.5rem 1.125rem -0.425rem rgb(254 105 106 / 90%);
  box-shadow: 0 0.5rem 1.125rem -0.425rem rgb(254 105 106 / 90%);
  border-radius: 0.3125rem;
  border-color: transparent;
  align-items: center;
}

.tns-liveregion.tns-visually-hidden {
  display: none;
}

.bottomPagination ul li a {
  color: white;
}

.bottomPagination {
  display: flex;
  margin: auto;
  justify-content: center;
}

.bottomPagination
  li.ais-Pagination-item.ais-Pagination-item--selected.ais-Pagination-item--page
  a {
  color: #fb696a;
}

.price-overview a.navbar-tool-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-slider button.splide__arrow {
  display: none;
}

.header-slider ul.splide__pagination {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 0;
  right: -1.5rem;
  top: 0;
  transform: none;
  width: auto;
}

.bottomPagination
  .ais-Pagination-item.ais-Pagination-item--selected.ais-Pagination-item--page {
  background-color: white;
  color: #fb696a;
  border: 1px solid #fb696a;
}

/* style scrollbar */
body::-webkit-scrollbar,
.products-list::-webkit-scrollbar,
.product-gallery-thumblist::-webkit-scrollbar,
.quickView-description::-webkit-scrollbar,
.ais-RefinementList-list::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
.products-list::-webkit-scrollbar-track,
.product-gallery-thumblist::-webkit-scrollbar-track,
.quickView-description::-webkit-scrollbar-track,
.ais-RefinementList-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.products-list::-webkit-scrollbar-thumb,
.product-gallery-thumblist::-webkit-scrollbar-thumb,
.quickView-description::-webkit-scrollbar-thumb,
.ais-RefinementList-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 0px !important;
}

/* price slider */
.noUi-handle {
  margin-top: -5px !important;
  height: 25px !important;
  width: 25px !important;
}

.widget .noUi-horizontal {
  height: 12px;
}

/* refinement list style */
ul.ais-Menu-list,
ul.ais-RefinementList-list {
  list-style: none;
  padding: 0px;
}

ul.ais-Menu-list .ais-Menu-count,
ul.ais-RefinementList-list .ais-RefinementList-count {
  background-color: red;
  padding: 2px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
}

.ais-RefinementList-checkbox {
  margin: 0px 5px 0px 0px;
}

.ais-RefinementList-labelText {
  font-size: 14px;
}

.tags ul {
  max-height: 270px;
  overflow: auto;
  margin-bottom: 5px;
}

.vendor ul {
  max-height: 250px;
  overflow: auto;
  margin-bottom: 5px;
}

button.ais-RefinementList-showMore:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}

button.ais-RefinementList-showMore {
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 15px;
}

input.ais-SearchBox-input {
  padding: 0.425rem 0.75rem;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dae1e7;
  width: 100%;
}

input.ais-SearchBox-input:focus-visible {
  outline: 1px solid red;
}

.ais-RefinementList-searchBox,
.ais-Menu-searchBox {
  margin-bottom: 10px;
}

span.ais-Menu-label {
  font-weight: normal;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

/* product description */
.container.productDescription h6 {
  margin-bottom: 0px !important;
}

.container.productDescription h2 {
  margin-bottom: 0px !important;
  font-size: 21px;
  font-weight: bold;
}

.productInfo p {
  margin-bottom: 6px;
}

/* media query */
@media (min-width: 1000px) {
  .tm-ferret-widget-wrapper {
    width: 80% !important;
  }
}
@media (min-width: 768px) {
  .related-products ul#splide02-list {
    min-height: 480px;
  }
}
@media (max-width: 768px) {
  .mobileInput button.ais-SearchBox-reset {
    right: 20px;
    top: 46px;
    position: absolute;
  }
  .mobileInput button.ais-SearchBox-submit {
    right: 40px;
    top: 46px;
    position: absolute;
  }
}

@media (max-width: 450px) {
  .product-badge {
    right: 0.75rem !important;
  }
}
