.slider {
  display: flex;
}

.tnsCarousel {
  height: 680px;
  background-color: #3aafd2;
  width: 100%;
}

.imageContainer {
  width: 50%;
}

@media (max-width: 768px) {
  .carouselImg {
    height: 100%;
    width: 100%;
  }
  .imageContainer {
    height: unset;
    width: 100%;
  }
}
